td{
    padding-left: 20px;
}

.Add-Product:hover{
    background-color: rgb(69, 69, 231);
}
.Buy-Product:hover{
    background-color:rgb(247, 70, 70);
}
.logo-img{
    width: 200px;
    height: 100px;
}
.add-product{
    width: 800px;
    height: 300px;
    padding: 40px;
    background-color:white; 
    border-radius: 8px;
} 
.fixed-screen{
    backdrop-filter: blur(12px);
    z-index: 70px;
}
a{
    font-size: 18px;
    padding: 10px;
}

@media (max-width:768px){
    a{
        font-size: small;
        padding: 4px;
    }
    .logo-img{
        width: 100px;
        height: 50px;
    }
}